@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg: #000000;
  --secondary-bg: #FBF6EE;


  --accent-color: #A4161A;
  --text-color-1: #FBF6EE;
  --text-color-2: #B5B5B5;
  --text-color-3: #787878;

  --border-color: #1f1f1f;
  --hover-button: #eee9e2;

  --textfield-color: #1f1f1f;
  --button-text: rgb(0, 2, 34);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased
}

html,
body {
  position: relative;
  height: 100dvh;
  /* overflow-x: hidden; */
  background-color: var(--primary-bg);
  color: var(--text-color-1);
}

body:after,
body:before {
  filter: url(#grain);
  position: fixed;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 999999999999999;
  pointer-events: none;
  opacity: 15%;
  color: var(--primary-bg-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text-color-1);
  color: transparent;
  transition: all 1s ease;
}

.text-stroke:hover {
  color: #fbf6eea4;
}